body {
	margin: 1em;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
    color: #dcf2ff;
    background-color: rgb(26, 75, 105);
}
ul {
	list-style-type: none;
}

li.todo-list--item {
	margin-bottom: 5px;
}

button {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.page-container {
	box-sizing: border-box;
	max-width: 960px;
	margin: 0 auto;
}

.completed-true:before {
	content: "finished!";
	background-color: #36b72f;
	color: white;
	padding: 5px;
	border-radius: 4px;
	display: inline-block;
}